@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Mulish:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
}

.html {
  background: #181818;
}

/* Titres, Textes...x> */

h1 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #aaa;
  margin: 0 auto;
  text-align: center;
}

h4.more {
  margin: 10px 0 30px 20px;
}

h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #aaa;
  margin: 12px 10px;
  text-align: center;
}

i {
  font-size: 0.9rem;
}

p,
a {
  font-size: 0.9rem;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 12px 0;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
  /* display: none; */
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  display: none;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #ebeaea;
  border: 2px groove #717171;
  display: none;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px 5px 25px;
}

.logo-img {
  position: relative;
  height: 50px;
  width: 50px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 10px black;
  }

  50% {
    text-shadow: 0 0 10px white;
  }

  100% {
    text-shadow: 0 0 10px black;
  }
}

.logo-txt {
  letter-spacing: -0.7px;
  color: #fff;
  margin: 0 5px 0 5px;
  text-shadow: 0 0 5px grey;
  animation: shine 1.5s infinite linear;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 0 5px 0 5px;
}

.ri-menu-line {
  color: #fff;
  font-size: 28px;
  margin: 0 5px 0 5px;
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  flex: 0 1 685px;
  margin-left: 40px;
}

.search-container form {
  position: relative;
  width: 100%;
}

.search-container input {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, -1);
  border-radius: 6px 0 0 6px;
  padding: 12px;
  color: #fff;
  font-size: 1rem;
}

.search {
  min-width: 60px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: #313131;
  outline: none;

  border: none;
  border-radius: 0 6px 6px 0;
}

.mic {
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-box {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-left: 12.5px;
}

.profile-container i {
  margin: 0 12.5px 0 12.5px;
  font-size: 20px;
  scale: 1;
  transition: 2s scale;
  color: #fff;
}

.profile-container i:hover {
  scale: 1.1;
  transition: 0.25s scale;
}

/* Animations */

.mic-anim {
  color: #fff;
  background-color: #181818;
  transition: background-color 1s, color 1s;
}

.search-anim {
  color: #fff;
  background-color: #313131;
  transition: background-color 1s, color 1s;
}

.mic-anim:hover {
  color: #000;
  background-color: #aaa;
  transition: background-color 0.25s, color 0.25s;
}

.search-anim:hover {
  color: #121212;
  background-color: #ffffff;
  transition: background-color 0.25s, color 0, 25s;
}

/* Body */

.body-container {
  display: flex;
  position: fixed;
  height: calc(100vh - 60px);
  top: 60px;
}

.body {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
}

.sidebar {
  background-color: #212121;
  padding: 10px 0 0 0;
  width: 240px;
  overflow-y: scroll;
  color: #fff;
}

.sidebar a {
  color: #fff;
}

a {
  text-decoration: none;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  height: 40px;
  transition: background-color 0.35s, scale 0.35s;
}

hr {
  margin: 15px 0;
}

.sidebar-item:hover {
  background-color: #4c4c4c;
  transition: background-color 0.25s, scale 0.25s;
  scale: 1.055;
}

.sidebar-item i {
  margin-right: 24px;
}

/* Content */

.content {
  width: calc(100vw - 240px);
  background-color: #181818;
}

.chips-wrapper {
  overflow-x: scroll;
  background-color: #181818;
  display: flex;
  padding: 0 0 0 14px;
  border-top: 1.25px groove rgba(255, 255, 255, 0.1);
  border-bottom: 1.25px groove rgba(255, 255, 255, 0.1);
}

.chips-wrapper::-webkit-scrollbar {
  height: 0;
}

.chip {
  margin: 12px 6px;
  background-color: #373737;
  padding: 6px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.35s, scale 0.35s, color 0.35s;
}

.chip:hover {
  color: #373737;
  background-color: #fff;
  transition: background-color 0.25s, color 0.25s;
}

.chip:active {
  scale: 1.1;
}

.video-details {
  display: flex;
  color: #fff;
  padding-top: 12px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  padding: 20px 25px;
  background-color: #181818;
  overflow-y: scroll;
  height: 100%;
  align-items: center;
}

.container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  padding: 20px 25px;
  background-color: #181818;
  overflow-y: scroll;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.details {
  border-radius: 0 0 7px 7px;
  margin: 0 auto;
}

.video-box img {
  border-radius: 7px 7px 0 0;
}

.video-content-cover {
  border-radius: 7px;
  position: relative;
  width: 100%;
}

.video-content {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 5.5px;
  border: 2px groove white;
  padding-bottom: 8px;
}

.video-content:hover {
  position: relative;
  background-color: #202020;
  transition: scale 0.5s, background-color 0.05s;
}

.video-content:hover .video-details {
  background-color: #202020;
  transition: background-color 0.05s;
}

.title {
  font-size: 0.9rem;
}

.video-box {
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}

.channel-logo {
  position: relative;
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.detail {
  margin-left: 12px;
}

.channel-name {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #aaa;
}

.views-upload {
  display: flex;
  font-size: 1rem;
  color: #aaa;
}

.upload {
  margin-left: 5px;
}

.hidden-content {
  display: none;
  padding: 5px 10px;
}

.btn {
  padding: 5px 0;
  color: #aaa;
  text-transform: uppercase;
  width: 100%;
  background-color: #373737;
  text-align: center;
  margin: 5px 0;
  font-size: 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn i {
  font-size: 0.7rem;
  margin-right: 5px;
  color: #aaa;
}

/* Page : Videos */

.ctn {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.video-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%; */
}

.video {
  object-fit: cover;
  border-radius: 5px;
  border: 2.2px solid whitesmoke;
  padding: 2.25px;
  height: 300px;
  width: 500px;
}

.video-ctn h1 {
  margin: 10px 0 0 0;
  color: #fff;
}

.description-container {
  border: 2.25px solid whitesmoke;
  border-radius: 7px;
  padding: 17px;
  height: fit-content;
  width: 350px;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: #202020;
  margin: 0 0 0 30px;
}

.description-text {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* Page : Comédiens */

.comedien-content {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 20px 20px 2.5px 2.5px;
  border: 2px groove white;
  padding-bottom: 8px;
}

.ctn-2 {
  border-radius: 20px 20px 2.5px 2.5px;
  border: 2px groove white;
}

.comedien-details {
  display: flex;
  color: #fff;
  padding-top: 12px;
}

.comedien-box {
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}

.comedien-box img {
  border-radius: 20px 20px 0 0;
}

/* Pages formulaires */

form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact {
  border: 2.25px solid whitesmoke;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 1%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 5px;
}

.libelle {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.ligne {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.line {
  border-color: #fff;
  margin: 6.75px 0;
  width: 102%;
}

.titre {
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
}

.contact button {
  margin: 0 auto;
  padding: 6px;
  border: 2px #000 solid;
  border-radius: 10px;
}

.contact button:hover {
  border: 2px #fff solid;
  color: #fff;
  text-shadow: 0 0 2px #fff;
  background-color: #000;
  transition: background-color 0.25s, text-shadow 0.25s, color 0.25s;
}

.contact button:active {
  scale: 1.1;
}

/* Classes spécifiques */
.center {
  align-items: center;
  justify-content: center;
}

.space-btw {
  justify-content: space-between;
}

/* Responsive */

@media (max-width: 1200px) {
  .sidebar {
    width: 60px;
    overflow-y: hidden;
  }

  .more {
    display: none;
  }

  .content {
    width: calc(100vw - 70px);
  }

  /* header */
  .logo-container {
    margin-left: -15px;
  }
  .logo-container img,
  .logo-txt {
    display: block;
  }

  .ri-menu-line {
    display: none;
  }
}

@media (max-width: 1050px) {
  .video-container {
    grid-template-columns: repeat(3, 1fr);
  }

  h1 {
    font-size: 1rem;
    text-align: center;
  }

  .description-container {
    padding: 14px;
  }

  .description-text {
    font-size: 11px;
    font-weight: 600;
  }

  /* header */
  .logo-container {
    margin-left: -15px;
  }
  .logo-container img,
  .logo-txt {
    display: block;
  }

  .ri-menu-line {
    display: none;
  }
}

@media (max-width: 970px) {
  .ctn {
    flex-direction: column;
  }

  .video-ctn {
    
  }

  .video {
    height: 220px;
    width: 420px;
  }

  .description-container {
    padding: 10px;
    min-height: 150px;
    margin-top: 30px;
  }

  .description-text {
    font-size: 10px;
    font-weight: 600;
  }

  /* header */
  .logo-container {
    margin-left: -15px;
  }
  .logo-container img,
  .logo-txt {
    display: block;
  }

  .ri-menu-line {
    display: none;
  }
}

@media (max-width: 820px) {
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .video-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-ctn {

  }

  .video {
    height: 220px;
    width: 420px;
  }

  .description-container {
    padding: 10px;
    min-height: 150px;
    margin: 30px 0;
  }

  .description-text {
    font-size: 10px;
    font-weight: 600;
  }

  /* header */
  .logo-container {
    margin-left: -15px;
  }
  .logo-container img,
  .logo-txt {
    display: block;
  }
  .ri-menu-line {
    display: none;
  }
}

@media (max-width: 600px) {
  .video-container {
    grid-template-columns: 1fr;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .video {
    height: 175px;
    width: 375px;
  }

  .description-container {
    padding: 8px;
    min-height: 150px;
  }

  .description-text {
    font-size: 10px;
    font-weight: 600;
  }

  /* header */
  .logo-container {
    margin-left: -15px;
  }
  .logo-container img,
  .logo-txt {
    display: block;
  }
  .ri-menu-line {
    display: none;
  }

  .ri-menu-line {
    display: block;
    margin-left: -8px;
  }
  .logo-container {
    margin-left: 0;
  }

  .search-container,
  .ri-grid-fill,
  .logo-container img,
  .logo-txt {
    display: none;
  }

  .comedien-content {
    margin-bottom: 35px;
    width: 100%;
  }

  .video-content {
    margin-bottom: 35px;
    width: 100%;
  }
}

@media (max-width: 400px) {

  .video-container {
    grid-template-columns: 1fr;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .video {
    height: 175px;
    width: 375px;
  }

  .description-container {
    padding: 8px;
    min-height: 150px;
  }

  .description-text {
    font-size: 10px;
    font-weight: 600;
  }

  /* header */
  .logo-container {
    margin-left: -15px;
  }
  .logo-container img,
  .logo-txt {
    display: block;
  }
  .ri-menu-line {
    display: none;
  }

  .ri-menu-line {
    display: block;
    margin-left: -8px;
  }
  .logo-container {
    margin-left: 0;
  }

  .search-container,
  .ri-grid-fill,
  .logo-container img,
  .logo-txt {
    display: none;
  }

  .comedien-content {
    margin-bottom: 35px;
    width: 100%;
  }

  .video-content {
    margin-bottom: 35px;
    width: 100%;
  }

}